{
  "name": "{{ plugin_name }}",
  "version": "{{ version }}",
  "description": "{{ description }}",
  "author": "{{ author }}",
  "type": "{{ plugin_type }}",
  "engine": "{{ engine_min }}",
  "entry": "{{ module_name }}:{{ class_name }}",
  "permissions": [],
  "config": {}
}
